<h1>Password Generator</h1>

<app-child1 [passwordLength]="rangeValue" 
[numbersAllowed]="numbersValue"
[charactersAllowed]="charactersValue"></app-child1>

<div class="controls">
  <input #range [(ngModel)]="rangeValue" type="range" min="8" max="30" id="range"/>
  <label for="range">Length<span>{{rangeValue}}</span></label>

  <input [(ngModel)]="numbersValue" #numbers id="numbers" type="checkbox"/>
  <label for="numbers">Numbers</label>

  <input [(ngModel)]="charactersValue" #characters id="characters" type="checkbox"/>
  <label for="characters">Characters</label>
</div>